<div class="row">
	<div class="article-holder">
		<div class="article-header">
			<%= image_tag @article.attachment.url %>
		</div>

		<div class="article-info">
			<div class="row">
				<div class="large-12 columns text-center">
					<h3><%= @article.title %></h3>
					<span>posted <%= time_posted(@article.created_at) %></span>
				</div>
			</div>
			<div class="spacing"></div>
		</div>

		<div class="article-content">
			<div class="row">
				<div class="large-10 columns">
					<p>
						<% if @article.article_long.empty? %>
							<% @parts.each do |part| %>
								<%= part.part_description %>
							<% end %> 
							<% else %>
							<%= @article.article_long %>
						<% end %>
					</p>
					<div class="row">
						<div class="large-12 columns text-center">
						<%= will_paginate @parts %>
						</div>
					</div>
				</div>

				<div class="large-2 columns">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- responsive ad -->
					<ins class="adsbygoogle"
						 style="display:block"
						 data-ad-client="ca-pub-6039615735782011"
						 data-ad-slot="4475184882"
						 data-ad-format="auto">
					</ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
		</div>
	</div>
</div>